#guardadosBoton{
    background-color: #494600;
}

.guardadosSeccion{
    visibility: visible;
    display: flex;
    background-color: #494600;
    width: 100%;
    height: 1120px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-style: bold;
    margin-top: 0px;

}
.guardadosSeccion h1{
    color: #ffffff;
    margin-left: 35%;
    width: 900px;
    font-size: 52px;
}
.postsEmpleos{
    color: #ffffff;

    width: 100%;
    height: 60%;
    margin-top: 10%;
    margin-left: -85%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
}

.contenedorpost1,
.contenedorpost2,
.contenedorpost3,
.contenedorpost4{
    width: 300px;
    height: 240px;
    border-radius: 20px;
    grid-row: 1;
}

.contenedorpost5,
.contenedorpost6,
.contenedorpost7,
.contenedorpost8{
    width: 300px;
    height: 240px;
    border-radius: 20px;
    grid-row: 2;
}

.post1,
.post2,
.post3,
.post4,
.post5,
.post6,
.post7,
.post8{
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-style: bold;
    color: #ffffff;
    background-color: transparent;
    width: 300px;
    height: 240px;
    border:1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    
}
.guardadosPic{
    margin-left: 70%;
    margin-top: -150px;
}

#redessociales{
    margin-top: -30%;
    margin-left: 30%;
}